  %td
    = image_tag(line_item.photo.public_filename(:thumb)) if line_item.should_show_image?
  %td
    - if line_item.coupon?
      = simple_format product_description, :class => 'emphasis'
    - else
      = simple_format product_description
    - if shipping_estimate
      %span.est= shipping_estimate
  %td.number= number_to_currency(line_item.price)
  %td.quantity.number
    - unless line_item.coupon?
      - if local_assigns.include?(:include_actions) && include_actions
        - form_tag cart_path, :method => :put do
          = hidden_field_tag('quantity_line_item_id[]', line_item.id) 
          = hidden_field_tag('redirect_path', redirect_path) if local_assigns.include?(:redirect_path)
          = text_field_tag('quantity[]', line_item.quantity, :size => 2, :class => 'smalltext')
          = hidden_field_tag 'form_action', 'Update Quantity'
          = image_submit_tag 'update-quantity.png', :class => 'fright custom-buttons', :name => 'submit', :value => 'Update Quantity'
      - else
        = line_item.quantity
    - else
      = "~"
  %td.number= number_to_currency(line_item.amount)
  %td
    - if local_assigns.include?(:include_actions) && include_actions 
      - unless line_item.coupon?
        - form_tag cart_path, :method => :put do
          = hidden_field_tag("select_#{line_item.id}")
          = hidden_field_tag 'form_action', 'Remove Selected'
          = image_submit_tag 'remove-selected.png', :class => 'fright custom-buttons', :name => 'submit', :value => "Remove Selected"
