.checkout_step_1
  - form_for :address, @address, :url => { } do |f|
    .address
      %h4.cart-title Shipping Address
      %p.pre-form-note
        Please provide a shipping address below:
      = error_messages_for('address')
      = render :partial => "shipping_address_form", :locals => {:f => f}
      %span.same-address
        = form_field("Is the above address also your billing address?", check_box_tag("same_as_shipping"))
      %br
      = hidden_field_tag(:step, 2)
      %span.fright.continue-the-checkout
        = image_submit_tag famfamfam_icon_path('basket_go')
