= render :partial => 'checkout_header'
%h2.cart-head Your Shopping Cart
#cart
  = render :partial => 'table_shipping', :locals => { :cart => @cart }
    %h3.cart-head
      SHIPPING METHOD
    %table.cart
      %tbody
        %tr
          %td{ :rowspan => '2', :class => 'info-data'}
            %h4.style-label
              Shipping To:
            %h5
              = @cart.shipping_address.country
            %br.clear
            %h4.style-label
              Method:
            %ul.shipping-select
              %li
                = radio_button_tag :shipping_method, 'ground', @cart.shipping_method == 'ground'
                %span.width-setter
                  = Cart::SHIPPING_LOOKUP["ground"]
                %em.amount
                  = number_to_currency @cart.ground_shipping_rate
                %br.clear
              %li
                = radio_button_tag :shipping_method, 'twoday', @cart.shipping_method == 'twoday'
                %span.width-setter
                  = Cart::SHIPPING_LOOKUP["twoday"]
                %em.amount
                  = number_to_currency @cart.two_day_shipping_rate
                %br.clear
              %li
                = radio_button_tag :shipping_method, 'overnight', @cart.shipping_method == 'overnight'
                %span.width-setter
                  = Cart::SHIPPING_LOOKUP["overnight"]
                %em.amount
                  = number_to_currency @cart.overnight_shipping_rate
                %br.clear
              %li.usually-ships
                %span
                  If you need more information about your delivery?
                %span.whats-this
                  %a{ :href => "/images/delivery_info.png", :id => 'whatisthis'}
                    Find out when your items will arrive.
        %tr
          %td.shipping-sub{ :rowspan => 2 }
            Shipping
            %span#shipping-rate
              = number_to_currency @cart.shipping_rate
    .shipping-grand
      GRAND TOTAL
      %span#grand-total
        = number_to_currency @cart.total
    /
      .promo-code
        %p
          Using a Coupon or Promotional Code?
        Enter you coupon code: 
        %input{ :type =>'text'}
        %a.button{ :href => '#'}
          Apply
      .promo-code
        Promo tie in
    .rush-ship-submit
      = hidden_field_tag :step, 4
      = image_submit_tag 'continue-checkout.png', :class => 'fright custom-buttons'
- @javascript_array << javascript_include_tag('rush_processing')
- @javascript_array << javascript_include_tag("checkout_payment")
