<%= title "Product Categories" %>
<% content_for :sidebar do -%>
  <%= render :partial => 'admin/layouts/product_sidebar' -%>
<% end -%>
<div class='fullwidth'>
  <table class='subdued'>
    <thead>
      <tr>
        <th>Category Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for category in @categories %>
        <tr class='<%= cycle('odd','even') -%>'>
          <td><%= link_to category.name, edit_admin_category_path(category) %></td>
          <td>
            <ul class='admin_actions'>
              <li><%= link_to famfamfam_icon("pencil"), edit_admin_category_path(category), :title => 'Edit this category' -%></li>
              <li><%= link_to famfamfam_icon("delete"), admin_category_path(category), :confirm => 'Are you sure you want to delete this category?', :method => :delete, :title => 'Delete this category' -%></li>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
