<h1>Quantity Discount Pricing</h1> 
<p>
<b>Product: <%= @quantity_discount.product.name %></b>
</p>
<p>
<b>Unit Price: <%= @quantity_discount.product.price %></b>
</p>
<% form_for(@quantity_discount) do |f| %>
  <%= f.error_messages %>

  <p> 
  <%= f.label :price %><br />
  <%= f.text_field :price %>
  </p>
  <p> 
  <%= f.label 'Minimum Quantity' %><br />
  <%= f.text_field :low_quantity %>
  </p>
  <p> 
  <%= f.label 'Maximum Quantity' %><br />
  <%= f.text_field :high_quantity %>
  </p>
  <p> 
  <%= f.submit "Create" %>
  </p>
<% end %>

