<p>
<b>Name:</b>
<%=h @product.name %>
</p>
<p>
<b>Unit Price:</b>
<%=h @product.price %>
</p>
<%= image_tag @product.image.url %>
<p>
<%= link_to 'Edit Product', edit_admin_product_path(@product) %> 
</p>
<p>
<%= link_to 'View Quantity Discounts', admin_product_quantity_discounts_path(@product) %>
</p>
<p>
<%= link_to 'Add Quantity Discount', new_admin_product_quantity_discount_path(@product) %>
</p>
